* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #ffffff; 
    color: #000000;
}

.contact-container {
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.contact-form {
    width: 80%;
    max-width: 800px;
    margin-bottom: 40px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    font-size: 1.2em;
    color: #000000;
    margin-bottom: 10px;
    display: block;
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 5px;
    font-size: 1em;
    background-color: #ffffff;
    color: #000000;
}

.input-group input:focus,
.input-group textarea:focus {
    border-color: #45DEC5; 
    outline: none;
}

.submit-btn input {
    background-color: #000000; 
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
}

.submit-btn input:hover {
    background-color: #45DEC5; 
    color: #000000;
}

.contact-info {
    text-align: center;
    width: 80%;
    max-width: 800px;
    margin-bottom: 50px;
}

.contact-info h2 {
    font-size: 2em;
    color: #000000;
    margin-bottom: 20px;
}

.contact-info p {
    font-size: 1.2em;
    color: #333333; 
}

.contact-info a {
    color: #45DEC5; 
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .contact-form, .contact-info {
        width: 95%;
    }

    header h1 {
        font-size: 2.5em;
    }

    .contact-info h2 {
        font-size: 1.8em;
    }

    .contact-info p,
    .input-group label,
    .input-group input,
    .input-group textarea {
        font-size: 1.1em;
    }
}
